*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue Book";
  src:url("..//fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  }
.body{
  font-family: 'Noto Sans', sans-serif;
}
.mobile-menu{
  display: none;
}
.container{
  max-width: 90rem;
  margin: auto;
}
.navbar{
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top:0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s; height: 0.2s;
}
.header{
  padding-top: 5.875rem;
 
}
.header-image{
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.4375rem;
  position: relative;
}
.header-image::before{
  content:"";
  top:0;
  left: 0;
  position: absolute;
  background-color:rgba(41, 45, 51, 0.75);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo{
  display: flex;
  align-items:center;
  padding: 0rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.logo-svg{
  width: 9rem;
  height: 2.75rem;
}
.navbar-light{
  background-color:#fff;
  color:#292D33;
  height: 72px;
}
.phone-icon {
    fill:#5C8EE5;
}
.navbar-light .header-logo-path{
  fill: #292D33;
}
.header-nav{
  flex-basis: 100%;
  display: flex;
  align-items:center;
  height: 100%;
  list-style: none;
  padding: 0;
  padding-left:  3.125rem;
  margin: 0; 
}
.header-nav-items{
  height: 100%;
  display: flex;
  align-items: center;

}
.header-nav-items:not(last-child){
  margin-right: 4%;

}
.header-nav-link{
  display: flex;
  height: 100%;
  align-items:center;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after{
  content:"";
  height: 2px;
  position: absolute;
  width: 0px;
  bottom:-1px;
  background-color:#5C8EE5;

  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
}
.header-phone{
  flex-shrink: 0;
  display: flex;
  align-items:center;
  text-decoration: none;
  gap: 10px;
}
.header-phone-link{
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}
.button{
  font-weight: 600;
  font-size: 1rem; 
  line-height: 160%;
  color:#fff;
  background: #3A71D1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display:inline-block;
  cursor: pointer;
}
.navbar-button{
  flex-shrink: 0;
  height: 100%;
  padding: 1.56525rem 3.125rem;
}
.navbar-button .button-icon{
  display: none;  
}
.header-button{
  height: 100%;
  margin-bottom: 3.125rem;
}
.seporator{
  background: #5C8EE5;
  width: 9.375rem;
  height: .125rem;
}
.header-content{
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color:#fff
}
.header-title{
  letter-spacing: 0.5px;
  word-spacing: -0.0062rem;
  max-width: 67.5rem;
  font-family: "Bebas Neue Book";
  font-size: 5rem;
  line-height: 120%;  
  margin: 30px 0;
}
.header-text{
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}
.header-features{
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color:#fff;
  position: relative;
}
.header-features-item{
  padding: 1.875rem 3.125rem;
  width: 18rem;
  min-height: 100%;
  border:1px solid rgba(235, 235, 240, 0.2);
}
.slider-buttons{
  display: none;
  height: 44px;

}
.slider-button-prev, 
.slider-button-next {
  height: 100%;
  flex-basis:50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items:center; 
}
.header-features-text{
font-size: 1rem;
font-weight: 400;
line-height: 160%;
color:#fff;
}
.section{
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title{
  font-family: "Bebas Neue Book";
  font-size: 2.5rem;
  line-height: 120%;
  color:#292D33;
}
.steps{
  display:flex;
  list-style:none;
  padding: 0rem;
  gap: 1.875rem;
}
.steps-item{
  max-width: 20.625rem
  
}
.steps-num{
font-family: "Bebas Neue book";
font-size: 3rem;
line-height: 120%;
color:#5C8EE5;
display: flex;
align-items: center;
}

.primary-buttons-wrapper{
  display: flex;
  height: 60px;
  justify-content: flex-end; 
}
.steps-buttons{
  display: none;
}
.primary-button-prev, 
.primary-button-next{
  background:#5C8EE5;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.blog-slider-footer{
  display: flex;
  align-items:center;
  margin-top: 1.875rem;
  justify-content: space-between;
}
.steps-num:after{
  content:"";
  height: 1px;
  background:#EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
  
}
.steps-title{
font-size: 1.75rem;
font-weight: 400;
line-height: 160%;
color:#292D33;
margin-top: 1.875rem;
margin-bottom: .625rem;

}
.steps-text{
font-size: 1rem;
font-weight: 400;
line-height: 160%;
color:#828A99;
margin-top: .625rem;
margin-bottom: 1.875rem;
}
.button-link{
color:#5C8EE5;
display: flex;
align-items:center;
text-decoration: none;
font-weight: 600;
font-size: 1rem;
line-height: 160%;
}
.button-link:before{
  content:"";
  height: 1px;
  background:#5C8EE5;
  width: 40px;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link:hover:before{
  width: 60px;

}
.cards{
  display: flex;
  flex-wrap: wrap;
  
} 
.card{
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}
.card:hover .card-title{
  color: #5C8EE5;
}
.card:hover{
  border-color: #5C8EE5;
}
.card-title{
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}
.card-text{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  color: #828A99;
  margin-bottom: 24.625rem;
} 
.card-image{
  position: absolute;
  bottom: 0;
  margin-right: 1.25rem;
  z-index: 0;
  width: 90%;
}
.card-content{
  padding: 2.5rem  3.125rem;
  
}
.component-content{
  padding: 2.5rem  3.125rem;
}
.trademark-cards{
  display: flex;
  flex-wrap: wrap;
}
.trademark-card{
  flex-basis: 50%;
  border: 1px solid #EBEBF0;
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px, 1fr, 1fr; 
  grid-template-rows: auto, 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas: 
    "logo title title"
    "logo text text";
}
.trademark-card-logo{
  width: 100%;
  fill:#828A99;
  grid-area: logo;
  
}
.trademark-card-title{
  grid-area: title;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.trademark-card-text{
  grid-area: text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  color:  #828A99;
  margin-top: .625rem;
}

.trademark-card:hover{
  border-color: #5C8EE5;
}
.trademark-card:hover .trademark-card-logo{
  fill: #5C8EE5;
}
.trademark-card:hover .trademark-card-title{
  color: #5C8EE5;
}  

.founder{
  position: relative;
  min-height: 41.25rem;
}  
.founder-photo{
  position: absolute;
  left: 0;
  width: 40%;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.founder-content{
  max-width: 45rem;
}
.founder-content-wrapper{
  display: flex;
  justify-content: flex-end;
}
.founder-text{
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color:#828A99;

}
.clients-list{
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
}
.clients-list-item{
  display: flex;
  align-items:center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color:#292D33;
}
.clients-wrapper{
  display: flex;
  gap: 3.125rem;
}
.clients-content{
  flex-basis: 50%;
}
.clients-logo-list{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
}
.clients-logo-item{
  flex-basis: 33.33%;
  border: 1px solid #EBEBF0;
  display:flex;
  align-items:center;
  justify-content: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.clients-logo-item:hover{
  filter: grayscale(0%);
}

.clients-logo{
  max-width: 100%;
}
.blog-card{
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color:#fff;
  justify-content: flex-end;
  padding: 3.125rem;
}
.blog-card:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background: rgba(41, 45, 51, 0.60);
  z-index: -1;
}
.blog-card-title{
 font-size: 1.75rem;
 font-style: normal;
 font-weight: 400;
 line-height: 160%; 
 margin-bottom: .625rem;
 margin-top: 0;
}
.blog-card-text{
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 160%; 
 margin: 0;

}

.blog-crad-image{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
@media (max-width: 1460px) { 
  html{
    font-size: 14px;
  }
  .header-logo{
    padding: 2rem;
  }
  .logo-svg{
    max-width: 6rem;
  }
  .header-nav{
    padding-left: 2rem;
  }
  .header-nav-items:not(:last-child){
    margin-right: 1 rem;
  }
  .header-phone{
    margin-right: 2rem;
  }
  .header-image{
    background-position:center;
  }
}
@media (max-width: 1200px) {
  .container{
    max-width: 70rem;
  }
  .trademark-card{
    grid-template-columns: auto auto;

  }
  .slider-buttons{
    display: flex;
  } 
  .header-phone{
    display: none;
  }
  .navbar{
    height: 5rem;
  }
  .navbar-button{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .primary-buttons-wrapper{
    height: 40px;
  }
  .primary-button-prev, 
  .primary-button-next{
    width: 3.75rem;
  }
  .steps-buttons{
    display: flex;
  }
  .card{
    flex-basis: 50%;
  }
  .founder-content{
    max-width: 35rem;
  }
  .clients-content{
    flex-basis: 60%;
  } 
}
@media (max-width: 992px) {
  html{
    font-size: 12px;
  }
  .container{
    max-width: 60rem;
  }
  .header-nav{
    display: none;
  }
  .header-logo{
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: 1.8rem 1.5rem;
    border-right:1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line{
    background-color:#333;
  }
  .mobile-menu-line{
    height: 1px;
    background-color:#fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text{
    display: none;
  }
  .navbar-button .button-icon{
    fill:#fff;
    display: block;
  }
  .mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display:block;
  }  
  .mobile-menu-nav{
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item{
    margin-bottom: 2rem;
  }
  .mobile-menu-link{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
    color:#292D33;  
  }
  .mobile-submenu{
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link{
    text-decoration: none;
    color: #828A99;
    font-size: 14px;
    line-height: 160%;
  }
  .mobile-phone{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    color:#292D33;
    border-top:1px solid #EBEBF0;
    padding-top: 2rem;
    margin-bottom: 1.3125rem;
  }
  .mobile-info{
    display: flex;
    align-items:center;
    margin-bottom: 0.75rem;
    gap: 1rem;
  }
  .mobile-info-address, 
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color:#292D33
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display:none; 
  } 
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }
  .close-menu .mobile-menu-line:nth-child(3){
    transform: rotate(-45deg) translateY(-9px); 
  }
  .trademark-cards{
    flex-direction: column;
  }
  .clients-wrapper{
    flex-direction: column;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-content{
    padding-top: 3rem;
  }
  .card{
    flex-basis: 100%;
  }
  .founder-photo{
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
}
@media (max-width:576px){
  .container {
    max-width: 90%;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-content{
    padding-top: 2rem;
  }
  .trademark-card{
    grid-template-areas: 
    "logo title"
    "text text";
  }
  .clients-list{
    columns: 1;
  }
  .clients-logo-item{
    flex-basis:50%;
  }
}


